  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky" style="z-index:10000">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav"  id="pagetop">
                    <!-- ***** Logo Start ***** -->
                    <a href="/index_new.html" class="logo">
                        <!--Edu Meeting-->
                        <!--<span class="mastilnitsata responsive-logo"></span>-->
                        <span class="mastilnitsata mastilnitsata-mastilnitsata-brand-inkpot"></span>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Начало</a></li>
                        <li class="has-sub"><a href="javascript:void(0)">Как помагаме</a>
                            <ul class="sub-menu">
                                <li><a href="#">Редакция</a></li>
                                <li><a href="#">Корекция</a></li>
                                <li><a href="#">Рецензия/Консултация</a></li>
                                <li><a href="#">Творческо писане</a></li>
                                <li><a href="#">Авторови работилници</a></li>
                            </ul>
                        </li>
                        
                        <li class="has-sub"><a href="javascript:void(0)">Кои сме</a>
                            <ul class="sub-menu">
                            {% for person in site.people %}
                            <li><a href="/people/{{ person.title | downcase }}">{{ person.firstname }} {{ person.lastname }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>


                        <li class="scroll-to-section"><a href="#courses">Новини</a></li> 
                        <li class="has-sub">
                            <a href="javascript:void(0)">Литературни</a>
                            <ul class="sub-menu">
                                <li><a href="https://literaturnirazgovori.com/" target="_blank"><span class="mastilnitsata mastilnitsata-sphere"></span> Литературни разговори</a></li>
                                <li><a href="https://www.facebook.com/literaturnirazgovori/" target="_blank"><span class="mastilnitsata mastilnitsata-facebook2"></span> Литературни разговори с АА</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#contact">Пишете ни</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- ***** Header Area End ***** -->

<a id="scrollup" href="javascript:void(0)" onclick='window.scrollTo({top: 0, behavior: "smooth"}); window.location.hash="";'>
<img src="/assets/images/scroll-up.png"  />
</a>