<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>


<body style="background: linear-gradient(
  rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)
),url('{{page.banner_image}}'); background-repeat: no-repeat;  background-size: cover; background-position: center center; background-attachment: fixed;">
  
  {% include header.html %}


  <section class="heading-page header-text" id="top"
    style="background:none;">
    <div class="container" style="position: relative; top: -98px;">
      <div class="row">
        <div class="col-lg-12">
          <!--<h6>Our services</h6>-->
          <h2 style="text-transform: none; font-size: 50px;"> <img src="{{page.page_icon}}"
              style="    height: 55px;
              width: auto;
              margin-right: 10px;" /> <span class="persontitle">
                {% if page.page_title %}
                  {{ page.page_title }}
                {% else %}
                  {{ page.text }}
                {% endif %}
              </span></h2>
        </div>


      </div>

      <div class="row">
        <div class="col-10 mt-3 mb-3 mx-auto">
         <!-- {{ page.intro }}
          <div class="main-button-red mt-5">
          <div class="scroll-to-section">
            <a href="#more-about-service">
            See more!
          </a></div>
        </div>
      -->
        <style>
          .service-content p {
            line-height: 29px;
            margin: 30px 0px;
            text-align: left;
          }
          .service-content li {
            text-align: left;
          }
        </style>
          <div class="service-content">
            {{ page.content }}
          </div>
        </div>
      </div>
      <div class="main-button-red mx-auto my-5">
        <div class="scroll-to-section">
          <a href="/{{ site.homepage }}#contact">
          <span class="contact-button-logo mastilnitsata mastilnitsata-mastilnitsata-logo-inkpot"></span>
          Пишете ни сега!
        </a></div>
    </div>
      
    </div>
  </section>

  <!--
  <div class="container service-content">
    <div class="row" id="more-about-service">
      <div class="col-11 mx-auto">
        {{ page.content }}
      </div>
    </div>
  </div>
-->


  {% include footer.html %}

  {% include footscripts.html %}
  <script>
    //alert("{{page.url}}");
  </script>
</body>

</html>